@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}



.grid{
    display: grid;
    place-items: center;
}

.flex{
    display: flex;
    align-items: center;
}

img{
    width: 100%;
}

main{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    
}

.container{
    padding: 25px;
    width: clamp(300px, 60%, 500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 15px 10px 15px rgb(0, 0, 0, .1);
    margin: 25px;
}

.container .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 5px;
    width: 90%;
}

label, a{
    font-size: 15px;
    color: rgb(0, 0, 0, .7);
    text-decoration: none;
    margin: 20px 0px 0px;

}

input, button, textarea{
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #d57eeb;
    outline: none;
}

button.google{
    background-color: #d57eeb;
    width: 60%;
    color: #fff;
}

button.submit{
    background-color: #fccb90;
    width: 50%;
    color: rgb(71, 60, 60);
    margin:15px 50% 0px;
    font-weight: 500;
    cursor: pointer;
    
}

.header__navbar{
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: #d57eeb;
    width: 100%;
}

.header__icon{
    position: absolute;
    margin: 10px;
}
input.header__input{
    padding-left: 40px;
    width: 100%;
}

.header__menu{
    gap: 15px;
    list-style-type: none;
    font-size: 18px;
}

.hamburger{
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamburger .line{
    display: block;
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin-block: 10px;
    border-radius:4px ;
    transition: transform .5s;
    opacity: .25s;
}

.hamburger.active .line:nth-child(1){
    transform: translateY(13px) rotate(45deg);
}

.hamburger.active .line:nth-child(2){
    opacity: 0;
}

.hamburger.active .line:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
}

.header__menu.display{
    display: none;
    opacity: 0;
    transform: translateY(-90px);
    transition: transform .5s;
    opacity: .25s;
}
.profile{
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

.container__apps{
    display: grid;
}

.app__title{
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.app__collection{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.app__card{
    height: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 15px #b96ecc;
}

.app__card picture{
    height: 70%;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.card__description{
    height: 30%;
    display: grid;

    place-content: center;

}

.container__comentarios{
    padding: 50px;
    display: grid;
    text-align: start;
    max-width: 600px;
    margin: auto;
}

/* Seccion Juegos */
.container__plays{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 50px;
}

.play__card{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-colorido-abstracto-degradado_23-2149120346.jpg?t=st=1651727896~exp=1651728496~hmac=ea200b7201b9589bd5e6e8601fe118de3ab341042a12c70ed7bc33c638b1e540&w=826);
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
}

.play__content{
    height: 75%;
    width: 100%;
    border-radius: 15px;
    display: grid;
    color: rgb(252, 190, 252);
    background-color: #b670c7;
    place-content: center;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding: 0px 55px;
    margin: 2.5px;
    transform: translateY(0px);
    transition: transform 1s;
}

.play__content:hover{
    transform: translateY(-25px);
    transition: transform 1s;
    opacity: .75;
    color: rgb(253, 253, 253);

}

/* seccion perfil */
.container__perfil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: ;
}

.perfil__game{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);  
    gap: 30px;
    margin: 25px;
    padding: 25px;

}

.perfil__feedback,
.perfil__puntos {
    display: grid;
    justify-content: end;
    gap: 15px;
}

.perfil__information{
    display: grid;
    justify-content: center;
}

.perfil__puntos img{
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #fff;
}

.perfil__feedback textarea{
    width: 350px;
    border-radius: 15px;
}
@media (max-width: 750px) {
    
    .hamburger{
        display: block;
    }
    .header__menu{
        position: absolute;
        top: 90px;
        flex-direction: column;
        transition: transform .5s;
        opacity: .25s;
        width: 100%;
        background-color: #fff;
        height: 160px;
        padding: 10px;
    }
    .header__menu a{
        color: rgb(0, 0, 0, .7);
    }
    .header__search{
        width: clamp(100px, 60%, 300px);
        padding-left: 40px;
    }
    .container__perfil{
        display: grid;
        grid-template-columns:1fr;
        padding: 20px;
    }
}